/* Keep margin consistent on and off Items pages */
#reassignfiles-file-filter {
    margin: 0;
    line-height: 1.5em;
}

#reassignfiles-show-all {
    height: 30px;
    margin: 0;
}

.reassignfiles-alert {
    background-color: rgba(255, 255, 255, .5);
    border: 1px solid #E7E7E7;
    border-radius: 3px;
    margin-bottom: 20px;
    padding: .5em;
}
